body {
    background-color: #050505;
    color: rgb(245, 104, 10);
    display: flex;
    padding: 20px;
  }
  
  .board {
    border: 3px solid rgb(83, 78, 74);
    background: #f87c07;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px;
    margin: 30px;
  }
  
  .squares {
    background: rgb(68, 68, 67) ;
    border: none;
    font-size: 100px;
    cursor: pointer;
    outline: none;
  }
  
  .X {
    color: rgb(248, 242, 242);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(241, 120, 6),
    0 0 82px rgb(255, 115, 0),
    0 0 92px rgb(255, 115, 0),
    0 0 102px rgb(255, 115, 0),
    0 0 151px rgb(255, 102, 0);
  }
  
  .O {
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  }
  
  h2, h3 {
    font-size: 30px;
    text-align: center;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .btnreset {
     display: flex;
     position: absolute;
     margin-left: 50px;
     
  }

  .header {
      display: inline-block;
      position: relative;
      text-align: center;
      padding-left: 180px; 
  }